// CSS FOR STYLING THE BACKGROUND BLOBS
.background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    .blob {
        min-width: 100vw;
        position: absolute;
    }
}

.background-line {
    position: absolute;
    min-width: 98vw;
    top: 0;
    left: 0;
    z-index: -90;
    background-image: url("/assets/home-sm.svg");
    background-size: 100%;
}

.blob1 {
    grid-column-start: 2;
    grid-row-start: 1;
    z-index: -1;
}

.blob2 {
    grid-column-start: 1;
    grid-row-start: 2;
    z-index: -2;
}

.blob3 {
    grid-column-start: 2;
    grid-row-start: 3;
    z-index: -3;
}

.blob4 {
    grid-column-start: 1;
    grid-row-start: 4;
    z-index: -4;
}