// padding, margin, and gap

.pt-150 {
    padding-top: 9.3rem;
}

.pt-120 {
    padding-top: 7.5rem;
}

.pt-75 {
    padding-top: 4.5rem;
}

.p-50 {
    padding: 3rem;
}

.g-75 {
    gap: 4.5rem;
}

.g-50 {
    gap: 3.125rem;
}

.g-25 {
    gap: 1.5rem;
}

.g-16 {
    gap: 1rem;
}

.m-0 {
    margin: 0;
}

.mt-150 {
    margin-top: 9.3rem;
}

.mt-180 {
    margin-top: 11.25rem;
}