// CSS for reusable components

.card-small {
    background-color: $white;
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: top;
    gap: 1rem;
    padding-bottom: 1rem;

    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  
    img {
        width: 100%;
        height: 15rem;
        object-fit: cover;
    }

    .cta-link {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        color: $accent-text;
        text-transform: uppercase;

        
        &:hover,&:focus {
            font-weight: 600;
        }
    }

    .card-small-contents {
        padding: 1rem 2rem 4rem 2rem;
    }

    P {
        margin: 1rem 2rem;
    }
}

.card-large {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

    img {
        min-width: 100%;
        height: 20rem;
        object-fit: cover;
    }

    .card-large-contents {
        background-color: $white;
        padding: 2rem;
    }
}

.logo {
    background-color: $pink-default;
    border-radius: 2rem;
    padding: 0.6em;
    font-family: 'Source Code Pro';
    text-decoration: none;
    color: $primary-main;
}

.banner {
    background-color: $green-light;
    color: $black;
    padding: 0.5rem;
    text-align: center;

    a {
        color: $green-text;
    }

    .close {
        color: $black;
        position: absolute;
        right: 1rem;
        cursor: pointer;
    }
}

.btn-default {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: $black !important;
    background-color: $accent-default;
    padding: 10px 20px;
    border: 3px solid $accent-50;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25), inset 0 0 0 0 $accent-50;
    transition: box-shadow 700ms ease-out;

    &:hover,&:focus {
        font-weight: 400 !important;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25), inset 20rem 0 0 0 $accent-50;
    }

    &:active {
        box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25), inset 20rem 0 0 0 $accent-50;
    }
}

blockquote {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .quotationMarks {
        @include fontSizeScaler(4);
    }

    .author {
        @include fontSizeScaler(1);
    }
}


// TOOL TIP
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 8rem;
    background-color: $black-80;
    color: $white;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
    font-weight: 300;
}

.tooltip .tooltiptext::after {
content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: $black-80 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}