// large screen | laptop & landscape tablet & larger

@media screen and (min-width: 992px) {
    .card-small {     
        flex-direction: row;
        gap: 1rem;
        padding: 2rem 2rem;
      
        img {
            box-shadow: rgba(0, 0, 0, 0.25) 2px 4px 4px;
            width: 10rem;
            height: 10rem;
        }
    
        .cta-link {
            position:absolute;                
            bottom:1rem;                        
            right:1rem;
        }

        .card-small-contents {
            padding: 0rem 2rem;
        }
    }
}

@media screen and (min-width: 1050px) {
    .background-line {
        background-image: url("/assets/home-lg.svg");
    }
}

@media screen and (min-width: 1280px) {
    .about {
        flex-direction: row;
        align-items: flex-start;
    }

    .about-img {
        border-radius: 28rem;
        max-width: 28rem;
        height: auto;
    }

    .background {
        .blob {
            min-width: 80vw;
        }
    }
}