// large screen | laptop & landscape tablet & larger

@media screen and (min-width: 992px) {
    .card-small {     
        flex-direction: row;
        gap: 1rem;
        padding: 2rem 2rem;
      
        img {
            box-shadow: rgba(0, 0, 0, 0.25) 2px 4px 4px;
            width: 20rem;
            height: 20rem;
        }
    
        .cta-link {
            position:absolute;                
            bottom:1rem;                        
            right:1rem;
        }

        .card-small-contents {
            padding: 0rem 2rem;
        }
    }

    
    .card-large {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        box-shadow: none;

        img {
            width: 30rem;
            height: 100%;
            object-fit: cover;
            box-shadow: rgba(0, 0, 0, 0.25) 2px 4px 4px;
        }

        .card-large-contents {
            background-color: $white;
            padding: 2rem;
            box-shadow: rgba(0, 0, 0, 0.25) 2px 4px 4px;
        }
    }
}

@media screen and (min-width: 1050px) {
    .background-line {
        background-image: url("/assets/home-lg.svg");
    }
}

@media screen and (min-width: 1280px) {
    .about {
        flex-direction: row;
        align-items: flex-start;
    }

    .about-left {
        order: 0;
    }

    .about-right {
        align-self: flex-start;
    }

    .about-img {
        border-radius: 28rem;
        max-width: 28rem;
        height: auto;
    }

    .background {
        .blob {
            min-width: 80vw;
        }
    }
}