// COLORS
$black: #332B26;
$white: #FCFCFB;

$primary-main: #FCFAF6;
$primary-main-tint: #f4efee;

$pink-default: #DEABB2;
$pink-light: #F1DDE0;
$pink-shadow: #AF9696;

$blue-default: #C5D3DE;
$blue-light: #E6EDF6;

$green-default: #B6DEBE;
$green-light: #E1F2E5;

$accent-default: #F9CA83;
$accent-light: #F9CA83;
$accent-dark: #F6A42C;
$accent-text: #B16007;



$default-font-size: 1rem;