// COLORS
$black: #332B26;
$white: #FCFCFB;
$grey: #C6BFBB;
$light-grey: #E5E1E0;
$brown: #564d48;
$black-80: rgba(51,43,38,0.80);
$black-50: rgba(51,43,38,0.50);

$primary-main: #FCFAF6;
$primary-main-tint: #f4efee;
$primary-scroll: #d2d4d8;

$pink-default: #DEABB2;
$pink-light: #F1DDE0;
$pink-shadow: #AF9696;

$blue-default: #C5D3DE;
$blue-light: #E6EDF6;

$green-default: #B6DEBE;
$green-light: #E1F2E5;
$green-text: #22664d;

$accent-default: #F9CA83;
$accent-50: #FDF2E1;
$accent-100: #fbdfb4;
$accent-400: #F6A42C;
$accent-text: #B16007;



$default-font-size: 1rem;