@import url("themify-icons.css");
@import url("./ostrich-sans/ostrich-sans.css");
/* stuff i want to do:
bottom bar display:none on home
note: about bar bugs sometimes
*/

/* custom stuff */
@font-face {
    font-family: 'brandonGrotesque';
    src: url('brandon_reg-webfont.woff2') format('woff2'),
         url('brandon_reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'deliHeavy';
    src: url('delicious-heavy-webfont.woff2') format('woff2'),
         url('delicious-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* framework */
html {
    background-color: #BAEEF4;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 10%, #BAEEF4 100%);
    background-attachment: fixed;
    
    height:100%;
}

body {
    background: #FFF;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.07);
    color: #545454;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 10em;
    
    min-height:100%;
    
    display:flex;
    align-items: center;
    justify-content: center;
}

/* top navigation bar */
#navigation {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
}

ul.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    top:0;
    
    white-space:nowrap;
    position: fixed;
    overflow: hidden;
    
    background-color: #FFF;
}

ul.navigation li {
    font-family: "brandonGrotesque";
    float: right;
}

/* block link tab stuff */
ul.navigation li a {
    color: #77C9D4;
    display: inline-block;
    padding: 14px 16px;
    text-align: center;
    font-size: 20 px;
}

ul.navigation li a:hover {
    background-color: #77C9D4;
    color: #FFF;
}

ul.navigation li a:active {
    background-color: #77C9D4;
    color:#77C9D4;
}

/* small dropdown menu stuff */

li.drop {
    position:fixed;
    display: inline-block;
    right:0;
    visibility:hidden;
}

div.dropMenu {
    font-family: "brandonGrotesque";
    position: absolute;
    background-color: #FFF;
    border: 1px solid #77C9D4;
    border-bottom: none;
    
    min-width: 130px;
    display: none;
    right: 0;
}

div.dropMenu a {
    width: 100px;
    color: #77C9D4;
    padding: 12px 16px;
    text-decoration: none;
    border-bottom: 1px solid #77C9D4;
    display: block;
    
}

div.dropMenu a:hover {
    color: #FFF;
    background-color: #77C9D4;
}

/* the good stuff information and things */
#start{
    width:100%;
    text-align:center;
}

h1 {
    font-family: "Ostrich Sans";
    color:#57BC90;
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    cursor: default;
    
    margin-top:0;
    margin-bottom:0;
    padding-bottom:0;
    
    opacity:0;
    letter-spacing: 30px;
}

span.quote {
    font-family: "Ostrich Sans";
    font-size: 30px;
    font-weight: 400;
    
    color: #77C9D4;
    
    opacity:0;
    letter-spacing:20px;
}

p.head {
    font-family: "deliHeavy";
    font-size: 15px;
    color:dimgrey;
    font-size: 30px;
    padding: 0px;
    border: none;
    border-radius: 0px;
}

.carousel {
    font-family: "deliHeavy";
    font-size: 15px;
    padding: 25px;
    border:5px double #57BC90;
    border-radius: 4px 15px 15px;   
    cursor: default;
}

ol.carousel-indicators {
    bottom: -50px;
}

.carousel-inner {
    margin-bottom: 25px;
}

ol.carousel-indicators li {
    background: darkgrey;
}

ol.carousel-indicators li.active {
    background: grey;
}

p.about {
    margin-left:40%;
    font-size: 18px;
    border: none;
    padding: 10px;
    text-align: left;
}

img.about {
    border-radius: 50px;
    margin-left:5%;
    width:30%;
    min-width:100px;
    float:left;
}

img.projects {
    border-radius: 10px;
    width: 45%;
    min-width: 100px;
    float: left;
}

/* block settings */
section {
    margin-top:10px;
    padding: 25px;
    border: 1px dashed #57BC90;
    width: 100%;
    height:inherit;
}

a {
    text-decoration: none;
    color: #77C9D4;
}

#about, #portfolio, #contact{
    margin-top:25px;
    display:none;
}

button {
    border: none;
    background-color: gainsboro;
    padding:5px;
    border-radius: 50%;
    outline: none;
}

/* bottom info block stuff */
footer.bottom {
    border-top: 1px dashed #57BC90;
    background-color: #FFF;
    position: absolute;
    width: 100%;
    height:200px;
    display:flex;
    bottom: -200px;
}

div.infoBottom {
    text-align:center;
    width:33%;
    line-height:20px;
}

h2 {
    font-family: "brandonGrotesque";
    font-size: 22px;
    color: #57BC90;
}

h3 {
    font-family: "brandonGrotesque";
    line-height: 1.5;
    font-weight:400;
    font-size: 16px;
    color: #77C9D4;
}

/* contact form stuff */
form {
    font-family: "deliHeavy";
    font-size: 18px;
    border:5px double #57BC90;
    border-radius: 4px 15px 15px;

    padding-bottom:25px;
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 90%;
    font-size: 20px;
    font-family: "brandonGrotesque";
    resize: none;
    padding: 2px 6px 1px 6px;
    border-radius: 3px;
    border: 1px solid transparent;
    border-top: none;
    border-bottom: 1px solid #DDD;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}

textarea {
    height: 125px;
}

#submit {
    border: 1px solid transparent;
    border-top: 1px solid #DDD;
    border-bottom: none;
    box-shadow: none;
}

#submit:active {
    background-color: darkgrey;
}

/* small screens and mobile */
@media all and (max-width: 485px) {
    ul.navigation li:not(.drop):not(:first-child) { display: none; }
    
    ul.navigation li.drop {
        visibility: visible;
    }
    div.infoBottom {
        width:100%;
    }
    div.bottom {
        display:block;
        bottom:-427px;
    }
    h1 {
        font-size: 30px;
    }
    span.quote {
        font-size: 25px;
    }
    #about {
        height: 550px;
    }
    div.carousel {
        height: 70%;
    }
}