.pt-150 {
  padding-top: 9.3rem;
}

.pt-120 {
  padding-top: 7.5rem;
}

.pt-75 {
  padding-top: 4.5rem;
}

.p-50 {
  padding: 3rem;
}

.g-50 {
  gap: 3.125rem;
}

.g-25 {
  gap: 1.5rem;
}

.g-16 {
  gap: 1rem;
}

.m-0 {
  margin: 0;
}

.mt-150 {
  margin-top: 9.3rem;
}

.mt-180 {
  margin-top: 11.25rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.justify-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.align-self-top {
  align-self: flex-start;
}

.align-self-center {
  align-self: center;
}

.blob {
  position: absolute;
  min-width: 60vw;
  height: 100vh;
  z-index: -2;
  transform-origin: 50% 50%;
}

.line {
  position: absolute;
  width: 100vw;
  height: 80vh;
  z-index: -1;
  transform-origin: 50% 50%;
}

.blob-right {
  right: 0;
}

.blob-left-15 {
  left: 15%;
}

.blob-left {
  left: 0;
}

.blob-top-0 {
  top: 0;
}

.blob-top-nav {
  top: 104px;
}

.blob-top-25 {
  top: 25%;
}

.blob-top-50 {
  top: 50%;
}

.blob-top-75 {
  top: 75%;
}

.card-small {
  background-color: #FCFCFB;
  border: 1px solid #332B26;
  padding: 1.5rem 3rem;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: top;
  gap: 3rem;
}
.card-small img {
  width: 10rem;
  height: 10rem;
  border: 1px solid #332B26;
  border-radius: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-small a {
  color: #B16007;
}
.card-small .cta-link {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.logo {
  background-color: #DEABB2;
  border-radius: 3rem;
  padding: 0.5em;
  font-family: "Source Code Pro";
  text-decoration: none;
  color: #FCFAF6;
}

.banner {
  background-color: #E1F2E5;
  color: #332B26;
  padding: 0.5rem;
  text-align: center;
}

html {
  box-sizing: border-box;
  background-color: #FCFAF6;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%23f4efee' fill-opacity='0.4'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.25rem;
  margin: 0;
  font-family: "Work Sans";
  color: #332B26;
  gap: 9rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}
.container .content {
  grid-column: 2/12;
}

a {
  color: #332B26;
  text-decoration: none;
}

section {
  align-self: center;
}

header {
  font-size: 1.25rem;
  border-bottom: 1px solid #332B26;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header a {
  align-self: baseline;
}

.lg-shadow-hard {
  box-shadow: 16px 24px 0px #AF9696;
}

.primary-navigation {
  background-color: #FCFAF6;
  flex-direction: column;
}
.primary-navigation .logo {
  margin: 0 1.5rem;
  align-self: center;
}
.primary-navigation .menu-toggle {
  padding: 1rem 2.5rem;
}
.primary-navigation .primary-nav-list {
  display: none;
}
.primary-navigation nav {
  border-top: 1px solid #332B26;
}
.primary-navigation nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.primary-navigation nav ul li {
  width: 100%;
}
.primary-navigation nav ul li:hover {
  background-color: #f4efee;
}
.primary-navigation nav ul li a {
  display: block;
  width: 100%;
  padding: 1.5rem 2.5rem;
}
.primary-navigation nav .active {
  background-color: #F1DDE0;
}
.primary-navigation nav .active:hover {
  background-color: #F1DDE0;
}

.header-info {
  font-family: "Source Code Pro";
  display: flex;
  flex-direction: column;
}
.header-info h1 {
  font-size: 4.768371582rem;
  font-weight: 400;
}
.header-info h2 {
  font-size: 1.5625rem;
  font-weight: 400;
}
.header-info p {
  font-size: 1.25rem;
}

.case-studies, .contact {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.about {
  font-weight: 500;
}

.about-left {
  background-color: #FCFCFB;
  border: 1px solid #332B26;
  padding: 2.5rem 1.875rem;
}
.about-left h2 {
  font-size: 1.953125rem;
  margin: 0;
  font-weight: 500;
}
.about-left .sub-h2 {
  font-size: 1.5625rem;
  font-family: "Source Code Pro";
  font-weighT: 600;
}

.about-img {
  border: 0.75rem solid #DEABB2;
  border-radius: 28rem;
  max-width: 28rem;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
}

footer {
  border-top: 1px solid #332B26;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  background-color: #FCFAF6;
  padding: 3rem 5rem;
}

.accent-underline {
  border-bottom: 0.4rem solid #F9CA83;
}

.accent-text {
  color: #B16007;
}

.hide {
  display: none !important;
}

h1 {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .primary-navigation {
    flex-direction: row;
  }
  .primary-navigation .menu-toggle {
    display: none;
  }
  .primary-navigation .primary-nav-list {
    display: block !important;
  }
  .primary-navigation nav {
    border: none;
  }
  .primary-navigation nav ul {
    flex-direction: row;
  }
  .primary-navigation nav ul li {
    width: auto;
  }

  footer {
    flex-direction: row;
  }
}/*# sourceMappingURL=main.css.map */