:root {
    --black: #332B26;
    --white: #FCFCFB;
    --primary-main: #FCFAF6;
    --pink-default: #DEABB2;
    --pink-light: #F1DDE0;
    --blue-default: #C5D3DE;
    --blue-light: #E6EDF6;
    --green-default: #B6DEBE;
    --green-light: #E1F2E5;
    --accent-default: #F9CA83;
    --accent-light: #F9CA83;
    --accent-dark: #F6A42C;
    --accent-text: #B16007;
}

html {
    box-sizing: border-box;
    background-color: var(--primary-main);
    background-image: url('/images/background-home.png');
    background-repeat: repeat-y;
    background-position-x: center;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Tw Cen MT';
    color: var(--black);
    display: flex;
    flex-direction: column;
    gap: 150px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--black);
}

.primary-navigation {
    background-color: #FCFAF6;
    padding: 15px 25px;
}

.logo {
    background-color: var(--pink-default);
    border-radius: 48px;
    padding: 0.5em;
    font-family: 'Source Code Pro';
    font-size: 24px;
    text-decoration: none;
    color: var(--primary-main);
}

header nav {
    font-size: 36px;
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 40px
}

a {
    color: var(--black);
    text-decoration: none;
}

section {
    width: 80vw;
    align-self: center;
}

.header-info {
    font-family: 'Source Code Pro';
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 0px;
}

.header-info h1 {
    font-size: 96px;
    font-weight: 400;
}

.header-info h2 {
    font-size: 36px;
    font-weight: 400;
}

.header-info p {
    font-size: 24px;
}

header h1 {
    font-size: 48px;
    align-self: baseline;
}

header a {
    font-size: 32px;
    align-self: baseline;
}

.card-small {
    background-color: var(--white);
    border: 1px solid var(--black);
    height: 192px;
    padding: 0px 40px;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.card-small img {
    width: 150px;
    height: 150px;
    border-radius: 120px;
    object-fit: cover;
}

.card-small a {
    color: var(--accent-text);
    position: absolute;
}