// medium screen | tablet & landscape mobile

@media screen and (min-width: 768px) {
    nav ul {
        flex-flow: row wrap;
    }
    .main {
        flex-flow: row wrap;
     
        article {
            flex-basis: 60%;
        }
    }
    picture {
        flex-basis: 35%;
    }
    .products-content {
        grid-column-gap: $default-indent*3;
        grid-template-columns: 35% 60%;
    }
    .article-contact {
        flex-basis: 45% !important;
    }
    .picture-contact {
        flex-basis: 50% !important;
    }
}
