// VARIABLE INIT

// STYLE GUIDE COLORS
$bright-blue: #082B59;
$coffee: #59331d;
$navy: #131D26;
$peach: #D98555;
$white: #f2f2f2;

// FORMATTING VARIABLES
$default-font-size: 1rem;
$default-indent: 1rem;
$default-border-radius: 10px;